.main {
  background-image: url("src/assets/Images/back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.login-page-new__header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
  padding: 0 30px;
  flex-shrink: 0;
  position: sticky;
  top: 0;
  margin-bottom: 100px;
}

.login-page-new__header-logo {
  width: 124px;
  height: auto;
}
.login-page-new__header-right {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.login-page-new__header-right-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  font-family: Gotham Pro,Proxima Nova,arial,serif;
  color: #292d34;
  margin-right: 20px;
}
.login-page-new__header-right-button, .login-page-new__header-right-button a {
  font-weight: 800;
  font-size: 14px;
  font-family: Gotham Pro,Proxima Nova,arial,serif;
  color: #e01a76;
}
.login-page-new__header-right-button {
  line-height: 16px;
  transition: transform .2s cubic-bezier(.785,.135,.15,.86) 0s;
  width: 92px;
  height: 40px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 15px rgba(0,0,0,.15);
  border-radius: 4px;
  cursor: pointer;
}

//main form styles
.login-page-new__main{
  margin: auto;
  flex-grow: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 70px;
}

.login-page-new__main-container{
  overflow: visible;
  position: relative;
}
.login-page-new__main-form{
  width: 480px;
  background: #fff;
  box-shadow: 0 25px 75px rgba(16,30,54,.25);
  border-radius: 6px;
  padding: 30px 60px 26px;
  margin-top: -75px;
  position: relative;
}

.login-page-new__main-form-row {
  width: 100%;
  position: relative;
  margin-bottom: 25px;
}
.login-page-new__main-form-row-label {
  font-weight: 500;
  font-size: 11px;
  line-height: 11px;
  font-family: Gotham Pro,Proxima Nova,arial,serif;
  color: #292d34;
  padding: 0 0 8px 2px;
}
.login-page-new__main-form-options .cu-show-pwd {
  padding: 0 12px 0 0;
  margin-left: auto;
  cursor: pointer;
  position: relative;
  top: -44px;
  font-size: 12px;
}
.login-page-new__main-form-options {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 0;
}
.login-page-new__main-form-button-text {
  font-weight: 800;
  font-size: 14px;
  line-height: 1;
  font-family: Gotham Pro,Proxima Nova,arial,serif;
  color: #fff;
}
.login-page-new__main-form-button {
  transition: background-color .2s cubic-bezier(.785,.135,.15,.86) 0s;
  height: 50px;
  margin-top: 10px;
  background: mediumpurple;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 25px;
}
.login-page-new__main-bot {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 45px;
}
.login-page-new__main-bot-text {
  font-weight: 700;
  font-size: 11px;
  line-height: 11px;
  font-family: Gotham Pro, Proxima Nova, arial, serif;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.login-page-new__main-form-help {
  transition: background .2s cubic-bezier(.785,.135,.15,.86) 0s;
  background: hsla(0,0%,100%,.2);
  box-shadow: 0 5px 15px rgba(16,30,54,.15);
  border-radius: 6px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  right: -60px;
  flex-direction: column;
}
.login-page-new__main-form-help svg {
  width: 16px;
  height: 16px;
}
.login-page-new__main-form-help-text {
  font-weight: 700;
  font-size: 11px;
  line-height: 11px;
  font-family: Gotham Pro,Proxima Nova,arial,serif;
  color: #fff;
  padding-top: 5px;
}
.login-page-new__main-form-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 46px;
  font-family: Gotham Pro,Proxima Nova,arial,serif;
  color: #292d34;
  text-align: center;
  margin-bottom: 20px;
}
.login-page-new__main-form-help.login-page-new__main-form-help-index, .login-page-new__main-form-help.login-page-new__main-form-help-login {
  bottom: 56px;
}

input.ng-touched.ng-invalid {
  border: 1px solid red;
  box-shadow: 5px 5px 20px #ff5051;
}

