<div class="toolbar" role="banner">
  <img width="150"
       [src]="logo" />
</div>


<body class="mainContent">
</body>

<mat-card class="example-card center">
  <div class="contentOfCard">
    <form [formGroup]="signUpForm">
      <h1 class="titleOfCard">Let's go!</h1>
      <div *ngIf="!signUpSuccessful" class="sign-up">
        <div class="titleOfInput">
          Username
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text InputSpan" id="fullName">
              <mat-icon class="matIcon">perm_identity</mat-icon>
            </span>
          </div>
          <input type="text" class="form-control Input" placeholder="John" aria-label="Mail" aria-describedby="basic-addon1"
                 formControlName="username">
        </div>


        <div class="titleOfInput">
          Email
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text InputSpan" id="mail">
              <mat-icon class="matIcon">mail</mat-icon>
            </span>
          </div>
          <input type="text" class="form-control Input" placeholder="examole@email.com" aria-label="Mail"
                 aria-describedby="basic-addon1"
                 formControlName="email">
        </div>

        <div class="titleOfInput" >
          Choose Password
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text InputSpan" id="password">
              <mat-icon class="matIcon">lock</mat-icon>
            </span>
          </div>
          <input [type]="hide ? 'password' : 'text'" class="form-control" placeholder="Enter your password"
                 aria-label="Mail"
                 aria-describedby="basic-addon1"
                 claas="PasswordInput"
                 formControlName="password">
          <span class="input-group-text visibilitySpan" id="visibility">
            <mat-icon matSuffix (click)="hide = !hide" class="matIcon"
                      style="cursor: pointer;">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </span>
        </div>
      </div>
      <div *ngIf="signUpSuccessful" class="alert-success" id="successfulSignUp">Email sent</div>

      <div>
        <div *ngIf="signUpSuccessful" class="titleOfInput">
          Confirm
        </div>
        <div *ngIf="signUpSuccessful" class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text InputSpan" id="confirmEmail">
              <mat-icon class="matIcon">check_circle_outline</mat-icon>
            </span>
          </div>
          <input type="text" class="form-control verifyCodeInput" placeholder="_ _ _ _ _" aria-label="Mail"
                 aria-describedby="basic-addon1"
                 formControlName="confirm">
        </div>
      </div>

      <div>
        <button *ngIf="!signUpSuccessful" mat-raised-button (click)="submitSignUpForm()" class="playWithClick">
          Play with 7Task
        </button>

        <button *ngIf="signUpSuccessful && emailSent" mat-raised-button (click)="confirmAccount()" class="confirmButton">
          Confirm
        </button>

      </div>
      <a href="url" class="SSOLink">
        or signup
        with SSO
      </a>
    </form>
  </div>
  <div class="center textUnderTheCard">
    By clicking the button above, you agree to our <a href="url" class="hrefLinkUnderOfCard">
      Terms of
      Service
    </a> and <a href="url" class="hrefLinkUnderOfCard">Privacy Policy</a> .
  </div>
</mat-card>


