<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

<div class="toolbar" role="banner">
  <img
    width="150"
    [src]="logo"
  />
  <!--  <span><h2>Click Up</h2></span>-->
</div>

<body class="mainContent">
</body>


<mat-card class="example-card center" id="card">
  <div class="contentOfCard">
    <h1 class="titleOfCard">Welcome back!</h1>
    <div class="titleOfInput">
      Email
    </div>
    <form [formGroup]="forgetPasswordForm">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
        <span class="input-group-text inputSpan" id="basic-addon1">
            <mat-icon class="matIcon">mail</mat-icon>
          </span>
        </div>
        <input type="text" class="form-control Input" placeholder="Enter your email" aria-label="Mail"
               aria-describedby="basic-addon1"
               formControlName="email">
      </div>

      <div *ngIf="emailSent">
        <div class="titleOfInput">
          Choose your new Password
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
        <span class="input-group-text inputSpan" id="password">
          <mat-icon class="matIcon">lock</mat-icon>
          </span>
          </div>
          <input [type]="hide ? 'password' : 'text'" class="form-control Input" placeholder="Enter your new password"
                 aria-label="Mail"
                 aria-describedby="basic-addon1"
                 formControlName="newPassword">
          <span class="input-group-text visibilityInputSpan" id="visibility">
           <mat-icon matSuffix (click)="hide = !hide"
                     style="cursor: pointer;">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </span>
        </div>

        <div>
          <div
            class="titleOfInput">
            Confirmation code
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
        <span class="input-group-text inputSpan" id="confirmEmail">
            <mat-icon class="matIcon">check_circle_outline</mat-icon>
          </span>
            </div>
            <input type="text" class="form-control Input" placeholder="_ _ _ _ _" aria-label="Mail"
                   aria-describedby="basic-addon1"
                   formControlName="validationCode">
          </div>
        </div>
      </div>

      <div>
        <button *ngIf="!emailSent" mat-raised-button (click)="submitForgetPasswordForm()" class="btn">          Send me the link
        </button>
        <button *ngIf="emailSent" mat-raised-button (click)="changePassword()" class="btn">
          Chenge my password
        </button>
      </div>
    </form>
    <a routerLink="../sign-in" class="hrefLink">or Sign In</a>
  </div>
  <div class="textUnderTheCard">
    Let's make the world more productive, together.
  </div>
</mat-card>

