<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

<div class="toolbar" role="banner">
  <img
    width="150"
    [src]="logo"
  />
  <!--  <span><h2>Click Up</h2></span>-->
</div>

<body class="mainContent">
</body>


<mat-card class="example-card center">
  <div style="text-align: center; padding: 30px 60px 26px;">
    <h1 style="font-weight: 900; font-family: '-apple-system'; font-size: 35px; margin-bottom: 20px">Welcome back!</h1>
    <div style="font-weight: 900; font-family: '-apple-system'; font-size: 10px; text-align: left">
      Email
    </div>
    <form [formGroup]="forgetPasswordForm">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1"
              style="background-color: white; border-right: 0;border-bottom-right-radius: 0;border-top-right-radius: 0">
            <mat-icon style="color: #c2c3c4;">mail</mat-icon>
          </span>
        </div>
        <input type="text" class="form-control" placeholder="Enter your email" aria-label="Mail"
               aria-describedby="basic-addon1"
               style="border-left: 0;border-bottom-left-radius: 0;border-top-left-radius: 0">
      </div>

      <div>
        <button mat-raised-button (click)="submitForgetPasswordForm()"
                style="margin-right: 5px;width: 100%;height: 50px;font-weight: 900; font-family: '-apple-system'; font-size: 15px; margin-bottom: 20px; background-color: #7b68ee; color: white; margin-top: 10px">
          Send me the link
        </button>
      </div>
    </form>
    <a routerLink="../sign-in" style="text-align: center;margin:0 auto; display:block;margin-top: 15px">or Sign In</a>
  </div>
  <div
    style="display: table; margin: 0 auto; margin-top: 20px;font-weight: 900; font-family: '-apple-system'; font-size: 15px; color: white; text-transform: uppercase;">
    Let's make the world more productive, together.
  </div>
</mat-card>

