<div class="split left">

    <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear" class="btn">
      {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
    </button>
  
    <mat-vertical-stepper [linear]="isLinear" #stepper>
  
      <mat-step>
        <ng-template matStepLabel>
          <h3>Welcome, Sadra!🤩</h3>
        </ng-template>
        <h1>Our mission is to make you<br>more productive. This will only take a minute.</h1>
        <!--      <div>-->
        <!--        <button mat-raised-button matStepperNext color="primary" [ngStyle]="{'background-color':userMainTheme}">Let`s do it!</button>-->
        <!--      </div>-->
      </mat-step>
  
      <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>
            <h3>Fill out your name</h3>
          </ng-template>
  
          <mat-form-field>
            <mat-label>First Name</mat-label>
            <input matInput placeholder="First name" formControlName="firstCtrl" required>
          </mat-form-field>
          <div class="alert alert-danger" role="alert"
               *ngIf="firstFormGroup.get('firstCtrl').touched && firstFormGroup.get('firstCtrl').invalid"
               style="width: 121px;">invalid input!
          </div>
  
          <div>
            <mat-form-field>
              <mat-label>Last Name</mat-label>
              <input matInput placeholder="Last name" formControlName="secondCtrl" required>
            </mat-form-field>
            <div class="alert alert-danger" role="alert"
                 *ngIf="firstFormGroup.get('secondCtrl').touched && firstFormGroup.get('secondCtrl').invalid"
                 style="width: 121px;">invalid input!
            </div>
          </div>
  
          <div>
            <button mat-raised-button color="primary" matStepperPrevious style="margin-right: 5px;"
                    [ngStyle]="{'background-color':userMainTheme}">Back
            </button>
            <button mat-raised-button matStepperNext color="primary" [ngStyle]="{'background-color':userMainTheme}">Next
            </button>
          </div>
        </form>
      </mat-step>
  
      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
  
          <ng-template matStepLabel>
            <h3>Fill out your email</h3>
          </ng-template>
  
          <mat-form-field>
            <mat-label>Email Address</mat-label>
            <input matInput formControlName="email" placeholder="example@email.com" required>
          </mat-form-field>
  
          <div class="alert alert-danger" role="alert"
               *ngIf="secondFormGroup.get('email').touched && secondFormGroup.get('email').invalid" style="width: 121px;">
            invalid input!
          </div>
  
          <div>
            <button mat-raised-button color="primary" matStepperPrevious [ngStyle]="{'background-color':userMainTheme}">
              Back
            </button>
            <button mat-raised-button color="primary" matStepperNext style="margin-left: 10px"
                    [ngStyle]="{'background-color':userMainTheme}">Next
            </button>
          </div>
        </form>
      </mat-step>
  
      <mat-step [stepControl]="thirdFormGroup">
        <form [formGroup]="thirdFormGroup">
          <ng-template matStepLabel>
            <h3>Enter your password</h3>
          </ng-template>
          <mat-form-field>
            <input id="password" matInput placeholder="Password" [type]="hide ? 'password' : 'text'"
                   formControlName="password" required>
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </mat-form-field>
  
          <div *ngIf="thirdFormGroup.get('password').touched && thirdFormGroup.get('password').invalid"
               class="alert alert-danger">
            <div *ngIf="thirdFormGroup.get('password').hasError('minlength')">invalid len!</div>
            <div *ngIf="thirdFormGroup.get('password').hasError('required')">password required!</div>
  
          </div>
  
          <div style="margin-top: 5px;">
            <button mat-raised-button color="primary" matStepperPrevious style="margin-right: 5px;"
                    [ngStyle]="{'background-color':userMainTheme}">Back
            </button>
            <button mat-raised-button color="primary" matStepperNext [ngStyle]="{'background-color':userMainTheme}">Next
            </button>
          </div>
        </form>
  
      </mat-step>
  
      <mat-step>
        <ng-template matStepLabel>
          <h3>Do you use any of these apps?</h3>
        </ng-template>
  
        <div>
          <mat-grid-list cols="5" rowHeight="74px" [gutterSize]="'10px'" class="extera">
            <mat-grid-tile id="1" (click)="grid('1')" style="opacity: 100%" class="extera-title">
              <img [src]="git" class="logo-grid">
            </mat-grid-tile>
  
            <mat-grid-tile id="2" (click)="grid('2')" style="opacity: 100%" class="extera-title">
              <img [src]="intercom" class="logo-grid-2">
            </mat-grid-tile>
  
            <mat-grid-tile id="3" (click)="grid('3')" style="opacity: 100%" class="extera-title">
              <img [src]="gitlab" class="logo-grid">
            </mat-grid-tile>
  
            <mat-grid-tile id="4" (click)="grid('4')" style="opacity: 100%" class="extera-title">
              <img [src]="teams" class="logo-grid">
            </mat-grid-tile>
  
            <mat-grid-tile id="5" (click)="grid('5')" style="opacity: 100%" class="extera-title">
              <img [src]="slack" class="logo-grid-2">
            </mat-grid-tile>
  
            <mat-grid-tile id="6" (click)="grid('6')" style="opacity: 100%" class="extera-title">
              <img [src]="sentry" class="logo-grid">
            </mat-grid-tile>
          </mat-grid-list>
        </div>
        <div style="margin-top: 10px; ">
          <button mat-raised-button color="primary" matStepperPrevious style="margin-right: 5px;"
                  [ngStyle]="{'background-color':userMainTheme}">Back
          </button>
          <button mat-raised-button color="primary" matStepperNext [ngStyle]="{'background-color':userMainTheme}">Next
          </button>
        </div>
      </mat-step>
  
      <mat-step>
        <ng-template matStepLabel>
          <h3>Choose your favorite color theme:</h3>
        </ng-template>
  
        <div>
          <mat-grid-list cols="5" rowHeight="70px" [gutterSize]="'5px'" class="theme">
            <mat-grid-tile id="theme1" class="theme-title">
              <div id="7b68ee" class="circle-1 circle-effect1" (click)="selectTheme('7b68ee')"
                   *ngIf="userMainTheme != '#7b68ee'">
              </div>
  
              <div class="theme-selected circle-1-selected" *ngIf="userMainTheme == '#7b68ee'"
                   style="position: relative;">
                <mat-icon style="color: white; position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);">
                  done_outline
                </mat-icon>
              </div>
            </mat-grid-tile>
  
            <mat-grid-tile id="theme2" class="theme-title">
              <div id="ffa12f" class="circle-2 circle-effect1" (click)="selectTheme('ffa12f')"
                   *ngIf="userMainTheme != '#ffa12f'">
              </div>
  
              <div class="theme-selected circle-2-selected" *ngIf="userMainTheme == '#ffa12f'"
                   style="position: relative;">
                <mat-icon style="color: white; position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);">
                  done_outline
                </mat-icon>
              </div>
            </mat-grid-tile>
  
            <mat-grid-tile id="theme3" class="theme-title">
              <div id="4169e1" class="circle-3 circle-effect1" (click)="selectTheme('4169e1')"
                   *ngIf="userMainTheme != '#4169e1'">
              </div>
  
              <div class="theme-selected circle-3-selected" *ngIf="userMainTheme == '#4169e1'"
                   style="position: relative;">
                <mat-icon style="color: white; position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);">
                  done_outline
                </mat-icon>
              </div>
            </mat-grid-tile>
  
            <mat-grid-tile id="theme4" class="theme-title">
              <div id="08c7e0" class="circle-4 circle-effect1" (click)="selectTheme('08c7e0')"
                   *ngIf="userMainTheme != '#08c7e0'">
              </div>
  
              <div class="theme-selected circle-4-selected" *ngIf="userMainTheme == '#08c7e0'"
                   style="position: relative;">
                <mat-icon style="color: white; position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);">
                  done_outline
                </mat-icon>
              </div>
            </mat-grid-tile>
  
          </mat-grid-list>
        </div>
        <div style="margin-top: 10px; margin-left: 10px">
          <button mat-raised-button color="primary" matStepperPrevious style="margin-right: 5px;"
                  [ngStyle]="{'background-color':userMainTheme}">Back
          </button>
          <button mat-raised-button color="primary" matStepperNext [ngStyle]="{'background-color':userMainTheme}">Next
          </button>
        </div>
      </mat-step>
  
      <mat-step>
        <ng-template matStepLabel>
          <h3>How many people will you be working with?</h3>
        </ng-template>
        <div>
          <mat-slide-toggle
            class="example-margin"
            [checked]="checkedSlideToggle"
            [disabled]="disabledSlideToggle" class="hi">
            Slide me!
          </mat-slide-toggle>
  
        </div>
        <div style="margin-top: 10px; margin-left: 10px">
          <button mat-raised-button color="primary" matStepperPrevious style="margin-right: 5px;"
                  [ngStyle]="{'background-color':userMainTheme}">Back
          </button>
          <button mat-raised-button color="primary" matStepperNext [ngStyle]="{'background-color':userMainTheme}">Next
          </button>
        </div>
  
      </mat-step>
  
      <mat-step>
        <ng-template matStepLabel>
          <h3>Done</h3>
        </ng-template>
        <h4>You are now done.</h4>
        <div>
          <button mat-raised-button color="primary" matStepperPrevious [ngStyle]="{'background-color':userMainTheme}">
            Back
          </button>
          <button mat-raised-button color="primary" (click)="stepper.reset()" style="margin-left: 10px"
                  [ngStyle]="{'background-color':userMainTheme}">Reset
          </button>
        </div>
      </mat-step>
  
  
    </mat-vertical-stepper>
  
  
  </div>
  
  <div class="split right " [ngStyle]="{'background-color':userMainTheme}">
    <img [src]="logo" width="600">
  </div>
  
  
  